@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 500px) {
  #root {
    width: 100vw;
    margin: auto;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
}
